.container {
  background-color: #f3f3f3;
  width: auto;
  padding: 0px 50px;
}
.game-banner {
  height: 80px;
  background-color: grey;
  margin-top: 0px;
  padding: 20px;
  h2 {
    color: white;
    margin: 0px;
  }
}
.game-wrapper {
  margin-top: 10px;
  padding-top: 10px;
  background-color: #4d82b4;
  .level-wrapper {
    margin-left: 20px;
  }
}
.game-table {
  width: 100%;
  margin: 10px 0px;
  tbody {
    width: 100%;
    tr {
     display: flex;
     width: 100%;
     td {
      height: 500px;
      flex: 0 0 calc(100%/9);
      display: flex;
      align-items: center;
      div {
        margin: auto;
        text-align: center;
        color: white;
        }
      }
    }
  }
}
.game-1 .game-table > tbody > tr > td {
  background-image: url("../images/ocean.jpg");
  background-size: cover;
}
.game-2 .game-table > tbody > tr > td {
  background-image: url("../images/under-water-2.jpg");
  background-position: 0px -225px;
  background-size: 100% 150%;
  filter: grayscale(80%) contrast(125%) saturate(180%);
}
.cta-btn {
  margin: 0px 15px 0px 0px;
}
.score {
  margin-right: 20px;
}
.invisible {
  display: none;
}
.visible {
  display: block;
}
.visible:hover {
  color: lightyellow;
}
.red {
  color: red !important;
  font-size: 120%;
}
