.container {
  background-color: #f3f3f3;
  width: auto;
  padding: 0px 50px;
  height: 500px;
}
.game-banner {
  height: 80px;
  background-color: grey;
  margin-top: 0px;
  padding: 20px;
  h2 {
    color: white;
    margin: 0px;
  }
}
.level-wrapper {
  background-color: #4d82b4;
  padding: 10px;
  margin-top: 10px;
}
.game-wrapper {
  overflow: hidden;
  height: 100%;
  position: relative;
  #level-message {
    position: absolute;
    top: 40%;
    transform: translateY(-60%);
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    color: #b10000;
    font-size: 50px;
  }
  .game-table {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    tbody {
      width: 100%;
      tr {
        display: flex;
        // background-position: 0px -10px;
        // background-size: 100% 150%;
        td {
          height: 800px;
          flex: 0 0 calc(100%/9);
          display: flex;
          align-items: center;
          position: relative;
          border: red solid 1px;
          div {
            margin: auto;
            color: white;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      .background-image {
        position: relative;
      }
      .background-image:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        background-image: url("../images/under-water-2.jpg");
        background-size: cover;
        filter: grayscale(80%) contrast(125%) saturate(180%) brightness(0.4);
        z-index: -1;
      }
    }
  }
}
#game-1 > tbody > tr > td > div {
  top: 200px;
}
#game-2 > tbody > tr > td > div {
  top: 500px;
}
.cta-btn {
  margin: 0px 15px 0px 0px;
}
.score {
  margin-right: 20px;
}
.invisible {
  display: none;
}
.visible {
  display: block;
}
.visible:hover {
  color: lightyellow;
}
.red {
  color: red !important;
  font-size: 120%;
}
#game-1 {
  -webkit-transition: margin-top 2s ease-out;
  z-index: 1;
}

