.game-wrapper {
  margin-top: 50px;
}

.game-table > tbody > tr > td > div {
  margin: 20px 20px;
  text-align: center;
}

.red {
  color: red;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

td {
  height: 150px;
  width: 150px;
  // border: solid red 1px;
  background-image: url("water.jpg");
  background-size: cover;
}

.fa-ship {
  color: white;
}
