.game-wrapper {
  margin-top: 50px;
}

.game-table > tbody > tr > td > div {
  margin: 20px 20px;
  text-align: center;
}

.red {
  color: red;
}

.invisible {
  display: none;
}

.visible {
  display: block;
}

td {
  height: 120px;
  width: 120px;
}
